<div class="container">
    <br>
    <h1 class="text-center">
        Results
    </h1>
    <br>
    <div class="card col-12">
        <div class="card-body">
            {{#each results}}
            <h1>
                Personality Type:
            </h1>
            <p> 
                
                {{this.personality}}
                
            </p>

            <h1>
                Description:
            </h1>
            <p>
                {{this.description}}
            </p>

            <h1>
                Celebrities:
            </h1>
            <img src = {{this.img_url}}>
            </img>

            <h1>
                Job 1:
            </h1>
            <p>
                {{this.job_title_1}}
            </p>

            <h1>
                Job 2:
            </h1>
            <p>
                {{this.job_title_2}}
            </p>

            <h1>
                Job 3:
            </h1>
            <p>
                {{this.job_title_3}}
            </p>
            {{/each}}
        </div>
    </div>

</div>