<div class="container">
    <h1>
        Results
    </h1>
    <div class="card col-12">
        <div class="card-body">
            <h1>
                Personality Type:
            </h1>
            <p>
                {{{Personality}}}
            </p>

            <h1>
                Description:
            </h1>
            <p>
                {{{Description}}}
            </p>

            <h1>
                Celebrities:
            </h1>
            <p>
                {{{Celebrity}}}
            </p>

            <h1>
                Job 1:
            </h1>
            <p>
                {{{Job1}}}
            </p>

            <h1>
                Job2:
            </h1>
            <p>
                {{{Job2}}}
            </p>

            <h1>
                Job3:
            </h1>
            <p>
                {{{Job3}}}
            </p>

        </div>
    </div>

</div>