<div class="container">
    <br>
    <h1 class="text-center">
        Results
    </h1>
    <br>
    <div class="card col-12">
        <div class="card-body">
            {{#each results}}
            <h1>
                Personality:
            </h1>
            <p>
                {{this.personality}}
            </p>
            <h1>
                Description:
            </h1>
            <p>
                {{this.description}}
            </p>

            <h1>
                Celebrities:
            </h1>
            <div class="text-center">
                <br>
                <img src={{this.img_url}}>
                </img>
                <br>
            </div>
            <br>
            <h1>
                Jobs:
            </h1>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.job_title_1}}</h5>
                            <a href={{this.job_title_1_url}}><img src={{this.job_title_1_img}} /></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.job_title_2}}</h5>
                            <a href={{this.job_title_2_url}}><img src={{this.job_title_2_img}} /></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.job_title_3}}</h5>
                            <a href={{this.job_title_3_url}}><img src={{this.job_title_3_img}} /></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>
