<div class="container">
    <br>
    <h1 class="text-center">
        Results
    </h1>
    <br>
    <div class="card col-12">
        <div class="card-body">
            {{#each results}}
            <h1>
                Personality:
            </h1>
           <p>
                {{this.personality}}
           </p>
            <h1>
                Description:
            </h1>
            <p>
                {{this.description}}
            </p>

            <h1>
                 Celebrities:
            </h1>
            <div class="text-center">
                <br>
            <img src={{this.img_url}}>
            </img>
            <br>
            </div>
            <br>
            <h1>
                Jobs:
            </h1>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.job_title_1}}</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.job_title_2}}</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.job_title_3}}</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
    </div>

</div>